{% extends "layout.html" %}
{% block content %}
<div class=row>
    <div class="col">
        <h5><b>Company:</b> {{application.company_name}}, <b>Position:</b>
            {%if application.link %} <a href="{{application.link}}">{{application.position_name}}</a>
            {% else %} {{application.position_name}}
            {% endif %} <br>

            <b>Source: </b> {{application.source}}, <b>Status: </b> {{application.status}}
        </h5>
    </div>
    <div class="col-3 align-self-center" align="right">
        <a class="btn btn-success"
            href="{{ url_for('addNewEvent', tracker_nameid = application.of_tracker | to_nameid_from_trackerid , app_id = application.application_id) }}">Add
            New Event <i class="bi bi-pencil-square"></i></a>
    </div>
</div>
<br>
<div style="overflow-x:auto;">
    <table id="data" class="table table-sm table-hover">
        <thead>
            <tr>
                <th>Description</th>
                <th>From</th>
                <th>Date</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for event in application.event_history %}
            <tr>
                <td>{{ event.desc }}</td>
                <td> {% if event.from_me %} Me {% else %} Them {% endif %}</td>
                <td>{{ event.date|formatdatetime }}</td>
                <td align="right"><a class="btn btn-warning btn-sm px-4 mx-2"
                        href="{{url_for('editEvent', tracker_nameid = application.of_tracker | to_nameid_from_trackerid, app_id = application.application_id, event_id = event.event_id) }}">
                        <i class="bi bi-pencil-fill"></i> </a>
                    <a class="btn btn-danger btn-sm mx-2"
                        href="{{url_for('deleteEvent', tracker_nameid = application.of_tracker | to_nameid_from_trackerid, app_id = application.application_id, event_id = event.event_id) }}">
                        <i class="bi bi-trash"></i> </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div> {% endblock content %}
