{% extends "layout.html" %}
{% block content %}
<div>
    <form method="POST" action="">
        {{form.hidden_tag()}}
        <fieldset class="form-group">
            <legend class=>Edit application to {{application.company_name}}:</legend>
            <div class="form-group">
                {{form.company_name.label(class="form-control-label")}}

                {% if form.company_name.errors %}
                {{ form.company_name(class="form-control form-control-lg is-invalid", autofocus="autofocus",
                onfocus="this.select()")}}
                <div class="invalid-feedback">
                    {% for error in form.company_name.errors %}
                    <span>
                        {{ error }}
                    </span>
                    {% endfor%}
                </div>
                {% else %}
                {{form.company_name(class="form-control form-control-lg", autofocus="autofocus",
                onfocus="this.select()")}}
                {% endif %}
            </div>
            <div class="form-group">
                {{form.position_name.label(class="form-control-label")}}

                {% if form.position_name.errors %}
                {{ form.position_name(class="form-control form-control-lg is-invalid")}}
                <div class="invalid-feedback">
                    {% for error in form.position_name.errors %}
                    <span>
                        {{ error }}
                    </span>
                    {% endfor%}
                </div>
                {% else %}
                {{form.position_name(class="form-control form-control-lg")}}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{form.submit(class="btn btn-outline-info")}}
        </div>
    </form>


</div>
{% endblock content %}
