{% extends "layout.html" %}
{% block content %}
<div class=row>
    <div class="col">
        <h5><b>Name:</b> {{tracker.name}}
            <br><b>Description:</b> {{tracker.desc}}
        </h5>
    </div>
    <div class="col-3 align-self-center" align="right">
        <a class="btn btn-success"
            href="{{ url_for('addNewApplication', tracker_nameid = tracker.name | to_nameid ) }}">Add New Application <i
                class="bi bi-pencil-square"></i></a>
    </div>
</div>
<br>
<div style="overflow-x:auto;">
    <table id="data" class="table table-sm table-hover">
        <thead>
            <tr>
                <th>Application ID</th>
                <th>Company Name</th>
                <th>Position</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for app in tracker.applications %}
            <tr>
                <td>{{ app.application_id }}</td>
                <td>{{ app.company_name }}</td>
                <td>{{ app.position_name }}</td>
                <td align="right"><a class="btn btn-primary btn-sm px-5 mx-2"
                        href="{{url_for('oneApplication', tracker_nameid = tracker.name | to_nameid, app_id = app.application_id) }}">Go!</a>
                    <a class="btn btn-warning btn-sm px-4 mx-2"
                        href="{{url_for('editApplication', tracker_nameid = tracker.name | to_nameid, app_id = app.application_id) }}">
                        <i class="bi bi-pencil-fill"></i> </a>
                    <a class="btn btn-danger btn-sm mx-2"
                        href="{{url_for('deleteApplication', tracker_nameid = tracker.name | to_nameid, app_id = app.application_id) }}">
                        <i class="bi bi-trash"></i> </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
