{% extends "layout.html" %}
{% block content %}
<table id="data" class="table table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for tracker in trackers %}
        <tr>
            <td>{{ tracker.name }}</td>
            <td>{{ tracker.desc }}</td>
            <td><a class="btn btn-primary" href="{{ tracker.name_id }}">Go!</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}
