.table-hover tbody tr.bg-warning:hover td {
  background-color: #f57f17; }

  .table-hover tbody tr.bg-danger:hover td {
    background-color: #b71c1c; }

    .tracker-category-label {
      text-align: center;
      pointer-events: none;
      line-height: 200%; }
