@import './variables.scss';


.breadcrumb-nav {
    background-color: $dark-color;
    color: $light-color
}

.text-dark {
    color: $dark-color;
}

.text-light {
    color: $light-color;
}

.bg-medium {
    background-color: $light-color;
}

.button-column {
    // width: 100%;
    text-align: 'right';
}


.table-hover tbody tr.bg-warning:hover td {
    background-color: rgb(245,127,23);
}


.table-hover tbody tr.bg-danger:hover td {
    background-color: rgb(183,28,28);
}

// Fixing the footer
html {
    position: relative;
    min-height: 100%;
  }
  body {
    /* Margin bottom by footer height */
    margin-bottom: 40px;
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 40px;
    line-height: 40px; /* Vertically center the text there */
    background-color: $dark-color;
    color: $light-color
  }

.tracker-category-label {
    background-color: $dark-color;
    color: $light-color;
    text-align: center;
    pointer-events: none;
    line-height: 200%;
}
